{% extends 'layouts.html' %}

{% block content %}
<div class="col-lg-6 col-md-6 col-sm-12">
    <div class="form-wrap">
        <div class="form-box_two mt-5">
            <form method="post" action="{% url 'form' %}"> 
                    {% csrf_token %}
                
                <div class="form-group">
                 {{ form }}
                    <!-- <input type="text" name="textInput" class="form-control" id="Method" placeholder="Text"> -->
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-danger mt-2">Drop</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
