body{
    background-color: #f4f4ff;
}
.form-block__wrapper{
    height: 100vh;
}
.form-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.form-wrap .form-box_one form .form-group,
.form-wrap .form-box_two form .form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-wrap .form-box_one form,
.form-wrap .form-box_two form {
    display: flex;
    align-items: center;
    flex-direction: column;
}